---
import site from '@data/site'
import Head from '@components/helpers/Head.astro'
import TheHeader from '@components/TheHeader.svelte'
import TheFooter from '@components/TheFooter.svelte'
import { Whatsapp } from 'fulldev-ui'

const { seo } = Astro.props
---

<!DOCTYPE html>
<html
  lang={site.lang}
  class="color-scheme-light light medium"
>
  <head>
    <Head {seo} />
  </head>
  <body class="flex flex-col overflow-x-hidden">
    <TheHeader />
    <slot />
    <TheFooter />
    <Whatsapp tel="31683485163" />
    <style>
      /* Temporary, untill we cleaner solution. Needed to set the browsers scrollbar color theme */
      .color-scheme-dark {
        color-scheme: dark;
      }
      .color-scheme-light {
        color-scheme: light;
      }
    </style>
  </body>
</html>
